<include file="./Public/header.html" title="个人信息"/>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        个人信息
                    </div>
                    <div class="panel-body">
                        <ul style="line-height: 45px;font-size: 16px;">
                            <li>用户名：{$user['name']}</li>
                            <li>创建时间：{$user['creattime']|date="Y-m-d H:i",###}</li>
                            <li>用户类型：{$user['type']==1?'超管':($user['type']==2?'运营':($user['type']==3?'客户':'核实员'))}</li>
                            <li>审核状态：{$user['ischeck']==0?'未审核':($user['ischeck']==1?'通过':'审核未通过')}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


<include file="./Public/footer.html"/>